<div class="container-fluid navb">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <i class="fas fa-dumbbell fa-2x"></i>
        <a class="navbar-brand" href="../index.html">FitHub</a>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="../html/myProfile.html">My Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/matching.html">Find a Buddy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../html/events.html">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logOut">Log out</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline d-flex dropdown">
                        <input class="form-control form-control-sm" type="text"
                            placeholder="Search Events (biking)" id="searchbar" data-toggle="dropdown">
                        <ul class="dropdown-menu" id="displist" role="menu" aria-labelledby="menu1">
                        </ul>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
